.container{
    background-color: rgb(255, 106, 0);
}
h1{
    align-items: center;
    text-align: center;
}
.food-container{
    border: 1px solid black;
    margin: 5px;
    background-color: white;
    padding: 5px;
    /* height: 200px; */
}
.foodCard{
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(223, 103, 56);
}