.container{
    background-color: #819A91;
    color: #42423e;
}
h1{
    align-items: center;
    text-align: center;
    color: white;
    font-family:  'Arial Narrow Bold', sans-serif;
}
.food-container{
    border: 1px solid black;
    margin: 5px;
    background-color: white;
    padding: 5px;
}
.foodCard{
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
   background-color: #DEE8CE;

}